<div class="docs-md">

  <h1 class="docs-md__h1">{{concat "<" (classify componentName) "/>"}}</h1>

  {{#if (is-component (concat componentName "-example"))}}
    {{component (concat componentName "-example")}}
  {{/if}}

  {{#if superclassName}}
    <p>This component inherits {{#docs-link "docs.component" superclassName}}{{superclassName}}{{/docs-link}}.</p>
  {{else}}
    <p>This is a top level class.</p>
  {{/if}}

  {{#if leafletRequiredOptions}}
    <p><strong>{{componentName}}</strong> component has the following <strong>required options</strong>:</p>
    <ul>
      {{#each leafletRequiredOptions as |prop|}}
        <li>{{prop}}</li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if leafletProperties}}
    <p><strong>{{componentName}}</strong> component has the following bound options:</p>
    <ul>
      {{#each leafletProperties as |prop|}}
        <li>
          <a target="_blank" rel="noopener" href="{{leafletUrlPrefix}}-{{lowercase (split prop 0)}}" class="docs-md__a">
            {{split prop 0}}
            <small>(uses {{if (split prop 1) (split prop 1) (concat "set" (classify (split prop 0)))}}())</small>
          </a>
        </li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if leafletOptions}}
    <p><strong>{{componentName}}</strong> component supports the following options:</p>
    <ul>
      {{#each leafletOptions as |option|}}
        <li><a target="_blank" rel="noopener" href="{{leafletUrlPrefix}}-{{lowercase option}}" class="docs-md__a">{{option}}</a></li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if leafletStyleProperties}}
    <p>
      Style options are bound. This means that you can change any style property
      and the leaflet layer will update its styles reflecting that change.
      <strong>{{componentName}}</strong> component supports the following style options:
    </p>
    <ul>
      {{#each leafletStyleProperties as |option|}}
        <li><a target="_blank" rel="noopener" href="{{leafletUrlPrefix}}-{{lowercase option}}" class="docs-md__a">{{option}}</a></li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if leafletEvents}}
    <p><strong>{{componentName}}</strong> component supports the following actions:</p>
    <ul>
      {{#each leafletEvents as |event|}}
        <li><a target="_blank" rel="noopener" href="{{leafletUrlPrefix}}-{{lowercase event}}" class="docs-md__a">on{{classify event}}</a></li>
      {{/each}}
    </ul>
  {{/if}}

</div>