<h1 class="doc-page-title">{{componentName}}</h1>

{{#if (is-component (concat componentName "-example"))}}
  {{component (concat componentName "-example")}}
{{/if}}

{{#if superclassName}}
  <p>This component inherits {{#link-to "docs.component" superclassName}}{{superclassName}}{{/link-to}}.</p>
{{else}}
  <p>This is a top level class.</p>
{{/if}}

{{#if leafletRequiredOptions}}
  <p><strong>{{componentName}}</strong> component has the following <strong>required options</strong>:</p>
  <ul>
    {{#each leafletRequiredOptions as |prop|}}
      <li>{{prop}}</li>
    {{/each}}
  </ul>
{{/if}}

{{#if leafletProperties}}
  <p><strong>{{componentName}}</strong> component has the following bound options:</p>
  <ul>
    {{#each leafletProperties as |prop|}}
      <li>
        <a target="_blank" href="{{leafletUrlPrefix}}-{{lowercase (split prop 0)}}">
          {{split prop 0}}
          <small>(uses {{if (split prop 1) (split prop 1) (concat "set" (classify (split prop 0)))}}())</small>
        </a>
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#if leafletOptions}}
  <p><strong>{{componentName}}</strong> component supports the following options:</p>
  <ul>
    {{#each leafletOptions as |option|}}
      <li><a target="_blank" href="{{leafletUrlPrefix}}-{{lowercase option}}">{{option}}</a></li>
    {{/each}}
  </ul>
{{/if}}

{{#if leafletStyleProperties}}
  <p>
    Style options are bound. This means that you can change any style property
    and the leaflet layer will update its styles reflecting that change.
    <strong>{{componentName}}</strong> component supports the following style options:
  </p>
  <ul>
    {{#each leafletStyleProperties as |option|}}
      <li><a target="_blank" href="{{leafletUrlPrefix}}-{{lowercase option}}">{{option}}</a></li>
    {{/each}}
  </ul>
{{/if}}

{{#if leafletEvents}}
  <p><strong>{{componentName}}</strong> component supports the following actions:</p>
  <ul>
    {{#each leafletEvents as |event|}}
      <li><a target="_blank" href="{{leafletUrlPrefix}}-{{lowercase event}}">on{{classify event}}</a></li>
    {{/each}}
  </ul>
{{/if}}
