<h1 class="doc-page-title">Contextual components</h1>

<p>
  Contextual components <a href="http://emberjs.com/blog/2015/11/16/ember-2-2-released.html#toc_contextual-components">landed in Ember 2.3.0-beta.1</a>,
  and they make ember-leaflet especially joyful to use. This feature allows a
  component to <code>\{{yield</code> other components to its blocks.
</p>

<p>
  So, <code>\{{#leaflet-map as |layers|}}</code> yields the following components to its block:
  <ul>
    <li><code>\{{layers.tile</code> equivalent to <code>\{{tile-layer</code></li>
    <li><code>\{{layers.marker</code> equivalent to <code>\{{marker-layer</code></li>
    <li><code>\{{layers.circle</code> equivalent to <code>\{{circle-layer</code></li>
    <li><code>\{{layers.circle-marker</code> equivalent to <code>\{{circle-marker-layer</code></li>
    <li><code>\{{layers.image</code> equivalent to <code>\{{image-layer</code></li>
    <li><code>\{{layers.polyline</code> equivalent to <code>\{{polyline-layer</code></li>
    <li><code>\{{layers.polygon</code> equivalent to <code>\{{polygon-layer</code></li>
    <li><code>\{{layers.geoJSON</code> equivalent to <code>\{{geojson-layer</code></li>
  </ul>

   If you're using an Ember version later or equal to <code>2.3.0-beta.1</code>, you should use this feature.
   Here is an example of what it looks like:
</p>

{{#code-block language="handlebars"}}
\{{#leaflet-map lat=lat lng=lng zoom=zoom as |layers|}}

  \{{layers.tile url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

  \{{#layers.marker location=emberConfLocation}}
    <h3>The Oregon Convention Center</h3>
    777 NE Martin Luther King Jr Blvd<br>
    Portland, OR 97232
  \{{/layers.marker}}

\{{/leaflet-map}}
{{/code-block}}

<p>
  Let's revisit the previous example, but now using this feature:
</p>

{{#code-sample as |component|}}
  {{#code-block language="handlebars" class=(concat "code-sample-snippet " (if (eq component.activeTab "template") "active"))}}
&lt;p&gt;&lt;label&gt;\{{input type="checkbox" checked=nightMode}} Night mode&lt;/label&gt;&lt;/p&gt;

\{{#leaflet-map lat=lat lng=lng zoom=zoom as |layers|}}

  \{{#if nightMode}}
    \{{layers.tile url="http://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png"}}
  \{{else}}
    \{{layers.tile url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
  \{{/if}}

  \{{#each restaurants as |r|}}
    \{{#layers.marker lat=r.lat lng=r.lng draggable=true onDragend=(action "updateLocation" r)}}
      <h3>\{{input value=r.name}}</h3>
      Rating: \{{r.rating}}/5
    \{{/layers.marker}}
  \{{/each}}

  \{{#layers.polygon locations=dangerZone color="red"}}
    DANGER ZONE
  \{{/layers.polygon}}

\{{/leaflet-map}}

&lt;h3&gt;Portland Restaurants&lt;/h3&gt;
&lt;ul&gt;
  \{{#each restaurants as |r|}}
    &lt;li&gt;
      &lt;strong&gt;\{{r.name}}&lt;/strong&gt;&lt;br&gt;
      Lat: \{{input value=r.lat}}
      Lng: \{{input value=r.lng}}
    &lt;/li&gt;
  \{{/each}}
&lt;/ul&gt;{{/code-block}}
  {{#code-block language="javascript" class=(concat "code-sample-snippet " (if (eq component.activeTab "javascript") "active"))}}
export default Ember.Controller.extend({
  lat: 45.528178,
  lng: -122.670059,
  zoom: 14,

  restaurants: Ember.A([
    {
      name: 'Sinju Restaurant',
      rating: 4,
      lat: 45.528531,
      lng: -122.681682
    },
    {
      name: 'Burgerville',
      rating: 3.8,
      lat: 45.530970,
      lng: -122.661968
    },
    {
      name: 'Le Pigeon',
      rating: 4.5,
      lat: 45.522752,
      lng: -122.657979
    },
  ]),

  dangerZone: Ember.computed('restaurants.@each.lat', 'restaurants.@each.lng', function() {
    return this.get('restaurants').map(r => ({lat: r.lat, lng: r.lng}));
  }),

  actions: {
    updateLocation(r, e) {
      let location = e.target.getLatLng();
      Ember.setProperties(r, {
        lat: location.lat,
        lng: location.lng
      });
    }
  }

});{{/code-block}}
  <div class="code-sample-snippet result {{if (eq component.activeTab "result") "active"}}">
    <p><label>{{input type="checkbox" checked=nightMode}} Night mode</label></p>
    {{#leaflet-map lat=lat lng=lng zoom=zoom as |layers|}}

      {{#if nightMode}}
        {{layers.tile url="http://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png"}}
      {{else}}
        {{layers.tile url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
      {{/if}}

      {{#each restaurants as |r|}}
        {{#layers.marker lat=r.lat lng=r.lng draggable=true onDragend=(action "updateLocation" r)}}
          <h3>{{input value=r.name}}</h3>
          Rating: {{r.rating}}/5
        {{/layers.marker}}
      {{/each}}

      {{#layers.polygon locations=dangerZone color="red"}}
        DANGER ZONE
      {{/layers.polygon}}

    {{/leaflet-map}}

    <h3>Portland Restaurants</h3>
    <ul>
      {{#each restaurants as |r|}}
        <li>
          <strong>{{r.name}}</strong><br>
          Lat: {{input value=r.lat}}
          Lng: {{input value=r.lng}}
        </li>
      {{/each}}
    </ul>
  </div>
{{/code-sample}}

<div class="doc-page-nav">
  {{#link-to "docs.templates" class="doc-page-nav-link-prev"}}&lt; They're just templates!{{/link-to}}
</div>
