

{{#docs-viewer as |viewer|}}
  {{#viewer.nav as |nav|}}
    {{nav.section "Guides"}}

    <li class="mt-8"></li>

    {{nav.item "Overview" "docs.index"}}
    {{nav.item "Installation" "docs.installation"}}
    {{nav.item "The container" "docs.container"}}
    {{nav.item "Adding layers" "docs.adding-layers"}}
    {{nav.item "Actions and interaction" "docs.actions"}}
    {{nav.item "They're just templates!" "docs.templates"}}
    {{nav.item "Addons" "docs.addons"}}

    {{nav.section "Components"}}
    {{#each componentList as |c|}}
      {{nav.item (concat "<" (classify c) "/>") "docs.component" c}}
    {{/each}}

    {{nav.section "Helpers"}}
    {{#each helperList as |h|}}
      {{nav.item (concat "{{" h "}}") "docs.helper" h}}
    {{/each}}
  {{/viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}

{{/docs-viewer}}