<h2 id="title">Ember Leaflet</h2>

{{#leaflet-map lat=51.505 lng=-0.09 zoom=13}}
  {{tile-layer url="http://{s}.tile.osm.org/{z}/{x}/{y}.png"}}

  {{#if showMarkers}}
    {{#each model as |marker|}}
      {{#marker-layer lat=marker.lat lng=marker.lng draggable=true}}
        {{marker.name}}
      {{/marker-layer}}
    {{/each}}
  {{/if}}
{{/leaflet-map}}

<p>Show markers {{input type="checkbox" checked=showMarkers}}</p>
<ul>
{{#each model as |marker|}}
  <li>{{marker.name}} - {{input value=marker.lat}} {{input value=marker.lng}}</li>
{{/each}}
</ul>