<h2 id="title">Ember Leaflet</h2>

{{#if showMap}}

  {{#leaflet-map lat=51.505 lng=-0.09 zoom=13}}
    {{tile-layer url="http://{s}.tile.osm.org/{z}/{x}/{y}.png"}}

    {{#polygon-layer locations=dangerZone color="red"}}
      <h3>Danger zone</h3>
    {{/polygon-layer}}

    {{#if showRestaurants}}
      {{#each restaurants as |r|}}
        {{#marker-layer lat=r.lat lng=r.lng draggable=true}}
          <b>{{r.name}}</b><br>
          {{r.description}}
        {{/marker-layer}}
      {{/each}}

      {{#each restaurants as |r|}}
        {{#circle-layer lat=r.lat lng=r.lng radius=500}}
          <b>{{r.name}}</b><br>
          {{r.description}}
        {{/circle-layer}}
      {{/each}}
    {{/if}}

    {{#if showTheaters}}
      {{#each theaters as |t|}}
        {{#marker-layer lat=t.lat lng=t.lng}}
          {{t.name}}
        {{/marker-layer}}
      {{/each}}
    {{/if}}

  {{/leaflet-map}}

{{/if}}
{{!--<p>Show markers {{input type="checkbox" checked=showMarkers}}</p>
<ul>
{{#each model as |marker|}}
  <li>{{marker.name}} - {{input value=marker.lat}} {{input value=marker.lng}}</li>
{{/each}}
</ul>--}}

<p><label>Show map {{input type="checkbox" checked=showMap}}</label></p>
<p><label>Show restaurants {{input type="checkbox" checked=showRestaurants}}</label></p>
<p><label>Show theaters {{input type="checkbox" checked=showTheaters}}</label></p>
